html
    include ./templates/head.pug
    body
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5878F3K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        include ./templates/nav.pug    
        include ./templates/about.pug
        include ./templates/proyects.pug
        //-include ./templates/skills.pug
        include ./templates/contact.pug
        script(src="js/main.js")